# Core modules (mandatory)
jupyterlite-core==0.3.0
jupyterlab~=4.1.6
notebook~=7.1.2


# Python kernel (optional)
jupyterlite-pyodide-kernel==0.3.2

# JavaScript kernel (optional)
jupyterlite-javascript-kernel==0.3.0
